<html>
    <head>
        <title>Edit Categories</title>
    </head>
    <body>
        <h1>Edit Your Categories</h1>
        <p>
            Category: {{ my_category.getName }}
        </p>

        <form action="/categories/{{ my_category.getId }}/edit" method="post">
            <input type="hidden" name="_method" value="patch">
            <label for="new_cat_name">Edit category name</label>
            <input type="text" name="new_cat_name">
            <button type="submit">Submit</button>
        </form>

        {% if tasks is not empty %}
        Tasks in this category:
            {% for task in tasks %}
            <ul>
                <li><a href="/tasks/{{ task.getId }}/edit">{{ task.getDescription }}</a></li>
            </ul>
            {% endfor %}
        {% endif %}

        <form action="/categories/{{ my_category.getId }}/delete" method="post">
            <input type="hidden" name="_method" value="delete">

            <button type="submit">Delete</button>
        </form>


        <h3><a href="/">Home</a></h3>
    </body>
</html>
